src/main/mule/normal.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="42c1a855-bcd6-472a-b282-748b8fb8c3aa" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="normalFlow" doc:id="88744463-8bf4-4dba-8da8-ef69e57bd143" >
		<http:listener doc:name="Listener" doc:id="9a6f066c-7c12-43e6-a87d-f348cf5c9619" config-ref="HTTP_Listener_config" path="/normal"/>
		<ee:transform doc:name="Transform Message" doc:id="2d73c8d8-bbd7-44ff-9c99-2458956f7668" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"hi " ++ attributes.queryParams.name as String]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="712dd671-1d45-46a1-ba4a-f59e0c42801e" message="#[payload]"/>
	</flow>
</mule>
